.hello {
  color: red;
  font-size: 5vh;
  display: flex;
  flex-direction: column;
}

.hello > img {
  width: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Nice background color below  */
  /* background-color: #202020;   */
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #282828;    */
  background-color: rgba(255, 0, 0, 0.777);
}

.header-right-items,
.header-left-items {
  display: flex;
  padding: 10px;
  gap: 10px;
  margin: 0 20px;
}

#content {
  display: flex;
  height: 100vh;
}

#nav {
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: rgba(147, 175, 199, 0.068);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  padding: 20px;
}

#nav.active {
  transform: translateX(0);
  display: flex;
}

.defaultProject {
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding: 10px;
}

.defaultProject:hover {
  color: #ff0000;
  cursor: pointer;
  text-decoration: underline;
  transition: 2s smooth;
}

.ProjectTitle {
  padding: 0px 10px;
  font-size: 2vh;
  font-style: italic;
}

button {
  padding: 5px;
}

#nav .active-page {
  color: #ff0000;
}

li:hover {
  background-color: rgba(128, 128, 128, 0.062);
}

li {
  padding: 10px 35px;
  width: 100%;
}

.tasks {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 2vh;
}

#taskContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  overflow-y: auto;
}

.taskTitle {
  font-size: 4vh;
}

#singleTask {
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1px;
  background-color: #fbf8f8;
  border-radius: 15px;
}

#singleTask:hover {
  background-color: #ffdada;
}

#taskTitleInput,
#taskTitleInput:focus,
#taskDescriptionInput,
#taskDescriptionInput:focus {
  border: 0;
  outline: 0;
}

#projectInput {
  border: 0;
  outline: 0;
  height: 3vh;
  background-color: transparent;
}

#taskTitleInput {
  font-size: 3vh;
  width: 100%;
  margin-bottom: 10px;
  /* background-color: rgba(128, 128, 128, 0.26); */
}

#taskDescriptionInput {
  font-size: 2vh;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  /* background-color: rgba(128, 128, 128, 0.26); */
}

.completionButton {
  padding: 5px;
  cursor: pointer;
  filter: invert(23%) sepia(72%) saturate(4383%) hue-rotate(99deg) brightness(94%) contrast(107%);
}

.completed {
  opacity: 50%;
  text-decoration: line-through;
}

.taskCreator {
  border: 1px solid rgba(0, 0, 0, 0.445);
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.newButton {
  padding-top: 30px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 2vh;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  width: fit-content;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.newButton:hover {
  color: red;
  scale: 105%;
}

.taskPrio {
  font-style: italic;
}

.prioDate {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#completeBtn:hover {
  scale: 115%;
}

#newProject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid black;
  border-radius: 25px;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}

#newProject > img {
  width: 18px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hidden {
  content: none;
}

#newProjectDiv {
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 25px;
  padding: 10px;
}

#inputButton {
  border: 0;
  outline: 0;
  border-radius: 25px;
}