.hello {
    color: red;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
  }

.hello > img {
  width: 150px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Nice background color below  */
  /* background-color: #202020;   */
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282828;   
}

.header-right-items,
.header-left-items {
  display: flex;
  padding: 10px;
  gap: 10px;
  margin: 0 20px;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello {
  display: flex;
  background-color:white;
  margin-top: 25px;
  padding: 10px;
  gap:10px;
  align-items: center;
  justify-content: center;
}

button {
  padding: 5px;
}

