.hello {
  color: red;
  font-size: 5vh;
  display: flex;
  flex-direction: column;
}

.hello > img {
  width: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Nice background color below  */
  /* background-color: #202020;   */
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #282828;    */
  background-color: rgba(255, 0, 0, 0.777);
}

.header-right-items,
.header-left-items {
  display: flex;
  padding: 10px;
  gap: 10px;
  margin: 0 20px;
}

#content {
  display: flex;
  height: 100vh;
}

.hello {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: rgba(203, 220, 235, 0.253);
}

#nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(147, 175, 199, 0.068);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

#nav.active {
  transform: translateX(0);
  display: flex;
}

#nav ul {
  padding: 0;
  list-style-type: none;
}

#nav a {
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-decoration: none;
}

#nav a:hover {
  color: #ff0000;
}

button {
  padding: 5px;
}

#nav .active-page {
  color: #ff0000;
}

li:hover {
  background-color: rgba(128, 128, 128, 0.062);
}

li {
  padding: 10px 35px;
  width: 100%;
}

.tasks {
  display: flex;
  flex-direction: column;
}

#taskContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
  padding: 50px;
  padding-left: 100px;
}

.taskTitle {
  font-size: 4vh;
}

#addBtn {
  margin-bottom: 15px;
  padding-top: 30px;
}

.singleTask {
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);

}